
*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 40px 40px;
    color: blue;
}

.card{
    text-align: center;
    width: 100%;
    height: 600px;
    background-color:black;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
    padding: 30px 30px;
    color: white;
    
}
#red{
    height: 50px;
    width: 70px;
    background: red;
    box-shadow: 5px;
}
#green{
    height: 50px;
    width: 70px;
    background: green;
    box-shadow: 5px;
}
#orange{
    height: 50px;
    width: 70px;
    background:orange;
    box-shadow: 5px;
}
#yellow{
    height: 50px;
    width: 70px;
    background:yellow;
    box-shadow: 5px;
}
#blue{
    height: 50px;
    width: 70px;
    background: blue;
    box-shadow: 5px;
}
#indigo{
    height: 50px;
    width: 70px;
    background: indigo;
    box-shadow: 5px;
}
#violet{
    height: 50px;
    width: 70px;
    background: violet;
    box-shadow: 5px;
}